html,
body {
  overflow-x: hidden;
}
.no-border {
  border: none !important;
}

.hide-ios-play-button::-webkit-media-controls {
  display: none !important; /* Hide iOS media controls */
}

.hide-ios-play-button::-webkit-media-controls-start-playback-button {
  display: none !important; /* Specifically hide the play button */
}
