TZ=UTC
PORT=8080
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=s38K_uhM925IgvrXbTI9BY7Da32sQmZ8
NODE_ENV=production
SESSION_DRIVER=cookie
DB_HOST=transformlit-app.mysql.database.azure.com
DB_PORT=3306
DB_USER=transformlit_prod
DB_PASSWORD=rYPmSYk_Hrn~zuKs2K(H[,S}W
DB_DATABASE=wedding_db


VITE_APP_NAME="Hannah and Daryll"